*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    object-fit: cover;
}

input, textarea{
    resize: none;
    outline: none;
}

